.mainVideoWrap{
    height: 250px;
    overflow: hidden;
    .mainVideo{
        width: 100%;
        opacity: 0.5;
    }
}

.shoppingWithBestiz{
    display: inline-block;
    float: right;
    height: 100%;
}