// =============== sizes
$footerHeight: 60px;


// =============== imports
@import "colors";
@import 'dashboard';
@import "footer";


html,
body {
    height: 100%;
    /* The html and body elements cannot have any
  padding or margin. */
}

/* Wrapper for page content to push down
footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -#{$footerHeight};
    /* Pad bottom by footer height */
    padding: 0 0 #{$footerHeight};
}

.noMargin{
    margin: 0 !important;
}

.absoluteVerticalAlign {
    margin-top: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.clotikaContainer{
    max-width: 700px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}