@import 'dashboard';

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.noMargin{
    margin: 0 !important;
}
.absoluteVerticalAlign {
    margin-top: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}