<div ng-controller="HomeCtrl as vm">
    <div class="mainVideoWrap">
        <video class="mainVideo" src="/assets/femaleShoppingVideo.mp4" type="video/mp4" autoplay loop></video>
    </div>
    <div class="clotikaContainer">
        <div class="row shoppingWithBestizContainer" data-equalizer>
            <div class="columns medium-5" data-equalizer-watch>
                <div class="">
                    <span>Shopping with the bestiz</span>
                    <button>click it!</button>
                </div>
            </div>
            <div class="columns medium-7" data-equalizer-watch>
                <image src="/assets/shoppingWithBestiz.jpg"></image>
            </div>
        </div>
    </div>
    <div class="clotikaContainer">
        <div class="row sellContainer" data-equalizer>
            <div class="columns medium-7" data-equalizer-watch>
                <image src="/assets/sell.jpg"></image>
            </div>
            <div class="columns medium-5" data-equalizer-watch>
                <span>Sell</span>
            </div>
        </div>
    </div>
    <div class="clotikaContainer">
        <div class="row" data-equalizer>
            <div class="columns medium-4" data-equalizer-watch>
                <image src="/assets/eveningDress.png"></image>
            </div>
            <div class="columns medium-4" data-equalizer-watch>
                <image src="/assets/mefargenot.png"></image>
            </div>
            <div class="columns medium-4" data-equalizer-watch>
                <image src="/assets/accessories.png"></image>
            </div>
        </div>
    </div>
    <div class="clotikaContainer">
        <div class="row comingEvents" data-equalizer>
            <div class="columns">
                <div class="mainTitle">Events</div>
                <div class="subTitle">Click the event</div>
            </div>
        </div>
        <div class="row marginTopX2" data-equalizer>
            <div class="columns medium-6" data-equalizer-watch>
                <image src="/assets/temp.jpg"></image>
                <span>Crazy party</span>
            </div>
            <div class="columns medium-6" data-equalizer-watch>
                <image src="/assets/temp.jpg"></image>
            </div>
        </div>
        <div class="row marginTopX2" data-equalizer>
            <div class="columns medium-6" data-equalizer-watch>
                <image src="/assets/temp.jpg"></image>
            </div>
            <div class="columns medium-6" data-equalizer-watch>
                <image src="/assets/temp.jpg"></image>
            </div>
        </div>
    </div>
</div>