<div ng-controller="HomeCtrl as vm">
    <div class="mainVideoWrap">
        <video class="mainVideo" src="/assets/femaleShoppingVideo.mp4" type="video/mp4" autoplay loop></video>
    </div>
    <div class="dashboardContainer">
        <div class="row"  data-equalizer>
            <div class="columns large-5 medium-5"  data-equalizer-watch>
                <div>
                    <span>Shopping with the bestiz</span>
                    <button>click it!</button>
                </div>
            </div>
            <div class="columns large-7 medium-7"  data-equalizer-watch>
                <image src="/assets/shoppingWithBestiz.jpg"></image>
            </div>
        </div>
    </div>
</div>