<div ng-controller="HomeCtrl as vm">
    <div class="mainVideoWrap">
        <video class="mainVideo" src="/assets/femaleShoppingVideo.mp4" type="video/mp4" autoplay loop></video>
    </div>
    <div class="clotikaContainer">
        <div class="row" data-equalizer>
            <div class="columns medium-5" data-equalizer-watch>
                <div>
                    <span>Shopping with the bestiz</span>
                    <button>click it!</button>
                </div>
            </div>
            <div class="columns medium-7" data-equalizer-watch>
                <image src="/assets/shoppingWithBestiz.jpg"></image>
            </div>
        </div>
    </div>
</div>